* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

main {
    max-width:  2554px;
    height: 100vh;
    background: url("../assets/img/league-of-legends.png") no-repeat;
    background-size: 100%;
}

main section {
    background-color: aliceblue;
}